header {
    background-color: #282d33;
    color: white;
    padding: 20px 0 20px;
}

section {
    color: #282d33;
    padding: 30px 0;
}

label, p {
    font-size: 1.4em;
}

.form-control:focus {
    border-color: white;
    box-shadow: inset 0 1px 1px white, 0 0 5px #f15252;
}

input[readonly] {
    pointer-events: none;
}

input[type='radio'] {
    background-color: #f15252;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #f15252;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

input[type='radio']:checked::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 9px;
    left: 2px;
    background-color: white;
    border: 1px solid #f15252;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.important {
    color: #f15252;
}

.form-spacing {
    padding: 15px 0 15px;
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0 10px;
}

.font-italic {
    font-size: 15px;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 20px 0 20px;
    }

    section {
        padding: 25px 0;
    }

    label, p {
        font-size: 1em;
    }

    input[type='radio']:checked::before {
        top: 5px;
    }

    .form-spacing {
        padding: 10px 0 10px;
    }
}